@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

html,
body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

h1 {
    font-size: 6em;
}

h2 {
    font-size: 3em;
}

nav {
    display: flex;
    width: 23%;
    justify-content: center;
    margin: 0 auto;
    justify-content: space-between;
    font-size: 1.5em;
    padding-top: 21px;
    padding-bottom: 137px;
}

.splash img{
    width: 75px;
    position: absolute;
    left: 100px;
    top: 5px;
}

a,
a:visited,
a:hover,
a:hover:visited {
    text-decoration: none;
    color: #fff;
}

section {
    height: 100vh;
}

.owner {
    background-image: url('img/owner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.splash {
    background-image: url('img/hero-section.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;

}


.break {
    flex-basis: 100%;
    height: 0;
}

.splash content {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.splash content h1{
    margin-bottom: 65px;
    margin-top: 0px;
}

.splash content h2{
    margin-bottom: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.splash .overlay2{
    background-color: rgba(129,119,119,0.47);
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 8;
}

.splash content, .splash nav{
    position: relative;
    z-index: 11;
}

.arrow {
    box-sizing: border-box;
    height: 5vw;
    width: 5vw;
    border-style: solid;
    border-color: white;
    border-width: 0px 4px 4px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
  }
  
  .arrow:hover {
    border-bottom-width: 6px;
    border-right-width: 6px;
  }

.img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.splash .overlay {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 1) 100%);
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.visit{
    height: 60vh;

}

.visit content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.visit-text{
    justify-content: center;
    align-items: center;
    margin: 0px 200px 0px 200px;
    width: 50%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.visit .img{
    background-image: url('img/visit-us.jpg');
    width: 70%;
    height: 60vh;
}

.visit-text h3{ 
    font-size:2em;
    font-weight: bold;
    font-family: 'Montserrat',sans-serif;
}

.visit-text p{
    font-size: 1.3em;
}

.owner h2{
    font-size: 2em;
    font-weight: bold;
}

.mid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 70px;
}

.products{
    background: linear-gradient(180deg,rgba(255, 255, 255, 0) 0%, rgb(241 241 253) 100%);
}

.footer-flex{
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
    margin-bottom: 110px;
}

.sitemap{
    font-size: 1.17em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bold;
}

.sitemap span{
    padding: 40px 0px 40px 0px;
    cursor: pointer;
}

.circles{
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.circles div{
    border: 1px solid black;
    border-radius: 50%;
    margin: 10px;
    height: 50px;
    width: 50px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.copyright{
    text-align: center;
    margin-bottom: 30px;
}

button{
    width: 200px;
    height: 60px;
    background-color:#fff!important;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1em;
    font-family: 'Montserrat',sans-serif;
    transition: all 0.1s ease-in-out;
}

button:hover{
    background-color: #000!important;
    color: #fff;
}

button:focus{
    outline: none;;
}

button:active{
    border-style:solid;
}

.card{
    width: 270px;
    height: 420px;
    border: 1px solid black;
    background-color: #fff;
}

.card-holder{
    width: 911px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.product-text{
    text-align: center;
    margin-bottom: 100px;
}

.product-text h2{
    font-weight: bold;
    font-size: 2.6em;
}

.product-text h3{
    font-size: 1.5em;
    font-weight: bold;
}

.card h3{
    font-weight: bold;
}

.about content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}

.about{
    display: flex;

}

.about-text{
    justify-content: center;
    align-items: center;
    margin: 0px 200px 0px 200px;
    width: 50%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.about-text h3{
    font-size: 2em;
    font-family: 'Montserrat',sans-serif;
}

.about-text p {
    font-size: 1.3em;
}

.card img{
    display: block;
    margin: 21px auto;
}

.card {
    text-align: center;
}

.card button{
    height: 40px;
    width: 160px;
}

.about .img{
    background-image: url('img/about-us.jpg');
    width: 70%;
    height: 60vh;
}

.footerImg{
    align-self: center;
}

.footerImg img{
    width: 80px;
}

.signup{
    width: 300px;
    height: 70px;
    border-radius: 4px;
    background-color: #fff!important;
    color: #000;
}

input{
    width: 290px;
    height: 70px;
    background-color:#fff!important;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1em;
    font-family: 'Montserrat',sans-serif;
}

input:focus{
    outline: none;;
}

input:active{
    border-style:solid;
}

.news-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 40%;
    margin: 75px auto 145px auto;
}

.news-flex div{
    margin: 15px 0px 15px 0px;
}

.news-flex h2{
    font-size: 2em;
    text-align: center;
}

.owner .overlay {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 1) 100%);
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.cart{
    width: 100px;
    height: 100px;
    background-color: rgba(0,0,0,0.5);
    z-index: 12;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.3em;
    top: 150px;
    right: 0px;
    cursor: pointer;
}